body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
  background: rgba(214, 214, 214, 0.767);
}

/* HEADER */

header {

  width: 90%;
  height: 150px;
  background: rgba(229, 229, 229, 0.703);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.header-logo-div {

    /* border: 1px solid red; */
    flex: 1 1 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    background: url('https://northcoders.com/images/logos/learn_to_code_manchester_rw_original.png') no-repeat;
    background-size: 50px;
    margin-bottom: 20px;

}

.header-h1-div {
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
}


header h1 {
  margin: 0;
  padding: 0;
  font-family: 'Kalam', cursive;
  font-size: 4em;
  margin-bottom: 10px;
  color: rgb(62, 62, 62);

}

/* header img {
  width: 20%;
  margin: 0;
  height: auto;

} */

/* NAV *********/

nav {
  background: rgb(42, 42, 42);
  width: 90%;
  margin: 0 auto;


}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

/*WEATHER BOX*/

.weather-box {

  /* height: 100px; */
  /* border: 1px solid red; */
  display: flex;

  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.weather-icon {
  padding: 5px;
}

.weather-icon > img {
  width: 40px;
}

.weather-details {
 /* text-align: center; */
}

.weather-details > img {
  width: 40px;
}
.weather-details h2 {
  font-size: 0.8em;
    margin: 0;
}


/* HOME **********/

.main-content {
  padding: 0;
  margin: 0;
}

.page-title {

  background: rgb(42, 42, 42);
  color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px lightgray;
}

.topics-li-div {
  display: flex;
  border: 1px solid white;
  display: block;
  width: 100%;
  transition: .3s;
}

.topics-li-div > a {
  
 list-style: none;
 color: white;
 display: block;
 /* width: 100%; */
 padding: 10px 0;
 text-align: center;
 text-decoration: none;

}

.topics-li-div > li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
}

.topics-li-div:hover {
  background: rgb(193, 55, 55);
}

.home-articles-wrapper {
    width: 90%;
    margin: 0 auto;
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;

}

.columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  /* /* flex-direction: column; */
}


.is-half {
  flex: 1 1 40%;
  /* border: 1px solid red;  */
  margin: 10px;
  background: rgb(241, 241, 241);
  box-shadow: 0px 5px 5px lightgray;
  padding: 10px;
}

.is-half a {
    text-decoration: none;
    color: rgb(93, 93, 93);
}

.is-half a:hover {

  color: rgb(53, 51, 51);
  /* background: white; */

}
.is-half:hover  {
  background: rgb(241, 240, 240);
}

.home-icons {

  display: flex;

}

.ic-div {
  margin: 10px;
}

.fa {
  margin-right: 5px;
}

.p-small {
  font-size: 13px;
}

.bt {
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

.voteUp {
  background: rgb(31, 173, 57);
}

.voteUp:hover {
  background: rgb(26, 141, 47);
}

.voteDown {
  background: tomato;
}

.voteDown:hover {
  background: rgb(235, 50, 17);
}

/* ARTICLE BY ID */

.article-wrapper {

  padding: 25px;
  text-align: justify;
  background: rgb(254, 253, 253);
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px lightgray;
  margin: 10px;

}



/* COMMENTS ON ARTICLE BY ID SECTION */

.com-vote {
  /* border: 1px solid green; */
  display: flex;
  margin: 20px 50px;

}

.insert-comment {
  border: 1px solid black;
  flex: 1 1 40%;
  padding: 20px;

}

.article-votes {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.insert-comment form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 90%;

}


.insert-comment textarea {
   height: 100px;
   /* margin: 5px; */
   border-radius: 2px;
   width: 40%;

}


.comments {
  width: 90%;
  margin: 0 auto;
}

.comments h2 {
  /* width: 30%; */
  display: inline-block;
  margin-left: 10px;
  
}

.comments-div {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 2px 2px lightgray;
}

.comments-div h3 {

  margin: 10px 0;

}

.comments-div p {
  text-align: justify;
}

.comment-button {
  color: white;
  background: black;
  border: none;
  border-radius: 100px;
  padding: 8px 15px;
  margin: 5px;
}

.comment-button:hover {
  background: tomato;
  cursor: pointer;
  transition: .3s;
}


button:focus {
  outline: none;
}

.comment-time {
  font-size: 12px;
  color: rgb(147, 147, 147);
}

.delete-button {


  padding: 5px 15px;
  border-radius: 100px;
   transition: .2s;
}

.delete-button:hover {
  color: white;
  background: rgb(42,42,42);
  cursor: pointer;

}

/* USER */

.user-div {
  width: 60%;
  margin: 0 auto;
  min-height: 400px;
  display: flex;
  background: rgb(246, 246, 246);
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 3px 3px lightgray;

  /* border: 1px solid red; */
}

.user-grid1 {
  padding-top: 10px;
}

.user-grid1 > img{
  max-width: 80px;
  border-radius: 100px;
}

.user-grid2 {
  padding: 20px;
}

.user-grid2 h3 {
  margin: 0;
}

/* FOOTER */

footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: rgb(30, 30, 30);
  margin-top: 20px;

}

.footer-div a {
  text-decoration: none;
  color: white;
  font-size: 3em;
  transition: .5s;

}

.footer-div a:hover {
  color: rgb(193, 55, 55);

  
}

.footer-div a i {
  transition: .5s;
}

.footer-div a i:hover {
  transform: rotate(360deg);
}

.footer-div  {
  text-decoration: none;
  color: rgb(193, 55, 55);
}

/*LODEAR*/

.loading {

  width: 90%;
  height: 100vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 3%;
   margin: 0 auto;
   /* border: 1px solid red; */

}

.loader {


  border: 3px solid rgb(190, 190, 190);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* margin: auto; */
  /* position: absolute;
  top: calc(20% - 50px);
  left: calc(50% - 50px); */
  border-bottom: 3px solid rgb(193, 55, 55);
  animation: animate 2s linear infinite;
  
}

/* .loader:before {
  
  content: "";
  border: 5px solid grey;
  border-radius: 50%;
  position: absolute;
  top:  10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-bottom: 5px solid black;
  animation: animate 2s linear infinite;
  
}

.loader:after {
  
  content: "";
  border: 5px solid grey;
  border-radius: 50%;
  position: absolute;
  top:  22px;
  left: 22px;
  right: 22px;
  bottom: 22px;
  border-bottom: 5px solid tomato;
  animation: animate 1s linear infinite;
  
} */

@keyframes animate {
  
  0%{
    
    transform: rotate(0deg);
    
  }
  
    100%{
    
    transform: rotate(360deg);
    
  }
  
  
  
  
}




@media screen and (max-width: 600px) {

  .header-logo-div {

    background-size: 50px;
    height: 40px;


  }


  .header-h1-div h1 {
    font-size: 3em;
  
  }

  nav {

    width: 100%;
    margin: 0 auto;
  }
  
  nav ul {

    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  nav ul a {
    padding: 0;
    margin: 0;
  }

  .home-articles-wrapper {
    width: 98%;

}

  header img {
    width: 40%;
    margin: 0;
    padding: 0;
  }

  .is-half {
    flex: 1 1 100%;
    /* border: 1px solid red;  */

  }
  
  .com-vote {

    flex-wrap: wrap;

  }

  .insert-comment {
    /* border: 1px solid black; */
    flex: 1 1 100%;
    margin: 0;

  
  }

  .insert-comment textarea {
    width: 100%;
  }
  
  .article-votes {
 
    flex: 1 1 100%;
  }
  
  .home-icons {
    display: flex;
    justify-content: center;
    /* align-items: center;
    text-align: center */
  }

  .loading {
    padding-top: 10%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {

    .header-h1-div h1 {
      font-size: 2em;
    }

}